body{
    background-color:rgba(0, 0, 0, 0.582);
}

h1{
    padding: auto;
    margin: 2%;
    color: rgb(255, 255, 255);
    background-color: rgb(89, 100, 121);
    width: 650px;
 

    
}

h2{
    margin: 2%;
    color: rgb(255, 255, 255);

}
img{
margin: 1.5%;
border-radius: 2%;
width: 670px;
}



footer{
    color:rgb(255, 255, 255);
    background-color: rgb(89, 100, 121);
    width: 650px;
    font-size: larger;
}
